@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Poppins:wght@300;400;600;700;800&display=swap");

:root {
  background-color: rgb(255, 255, 255);
  user-select: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family:sans-serif;
}

h1 {
  font-size: 5.4rem;
  color: #fff;
  margin-bottom: 3rem;
  text-align: center;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex; 
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

#music-btn {
  background-image: linear-gradient(
    83.2deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
}

#christmas-btn {
  background: linear-gradient(
    90deg,
    rgba(255, 151, 32, 1) 255%,
    rgba(255, 137, 1, 1) 255%
  );
}

.fa-crown {
  font-size: 2.5rem;
  /* margin-left: 1rem; */
}

/* End Page CSS */
.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
  color: #aaa;
}

#username {
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}

#end-text {
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
}

#saveScoreBtn {
  border: none;
}

.fa-home {
  margin-left: 1rem;
  font-size: 2rem;
  color: rgb(28, 26, 26);
}

.white-title {
  font-size: 3.6rem;
  color: white;
  text-align: center;
}

/* Topics page */
.intro p {
  color: #ee82ee;
  font-size: 2.3rem;
  text-align: center;
  padding-bottom: 2.4rem;
  cursor: pointer;
}

.back-btn {
  background-color: rgb(41, 41, 41);
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-btn img {
  rotate: 90deg;
}

.back-btn p {
  padding: 13px;
}

.go-back {
  color: rgb(59, 196, 255) !important;
}

#topbanner{
  background-color:rgb(0, 0, 0);
  position: absolute;
  width:100%;
  height:10px;
  max-width: 100%;
  top:0px;
  height:10%;
}
#kendallhome{
  position: absolute;
  top:1.5vw;
  left:2vw;
  font-size: 2vw;
  font-family:sans-serif;
  font-style: italic;
  font-weight:lighter;
  text-decoration: none;
  color:white;
}
#maindrop{
  
  position: absolute;
  width: 3vw;
  height: 2.5vw;
  top:1.5vw;
  right:2vw;
}
#drop1{
  background-color: white;
  position: absolute;
  width: 3vw;
  height: 0.23vw;
  top:0.1vw;
  right:0vw;
  /* pointer-events: none; */
}
#drop2{
  background-color: white;
  position: absolute;
  width: 3vw;
  height: 0.23vw;
  top:1.1vw;
  right:0vw;
  /* pointer-events: none; */
}
#drop3{
  background-color: white;
  position: absolute;
  width: 3vw;
  height: 0.23vw;
  top:2.1vw;
  right:0vw;
  /* pointer-events: none; */
}
#sidedrop{
  position: absolute;
  height: 0;
  width: 0;
  background-color: rgb(250, 250, 250);
  right:-2vw;
  top: -3.5vh;
  overflow:hidden;
  transition: width 1s, height 1s;
  
}
#maindrop:hover #sidedrop{
  height: 100vh;
  width: 800%;
  
}
#maindrop:hover #drop1{
  background-color:black;
}
#maindrop:hover #drop2{
  background-color:black;
}
#maindrop:hover #drop3{
  background-color:black;
}
.btn{
  text-decoration: none;
  font-size:2.5vw;
  position:absolute;
  top:7vw;
  left:6vw;
  color:black;
  font-family:sans-serif;
  font-style:italic;
  
}
#topics-btn{
  text-decoration: none;
  font-size:2.5vw;
  position:absolute;
  top:13vw;
  right:vw;
  color:black;
  font-family:sans-serif; 
  font-style:italic; 
 
}
#rules-btn{
  text-decoration: none;
  font-size:2.5vw;
  position:absolute;
  top:19vw;
  right:9vw;
  color:black;
  font-family:sans-serif;
  font-style:italic;
  
}
#suggestion-btn{
  text-decoration: none;
  font-size:2.5vw;
  position:absolute;
  top:25vw;
  right:9vw;
  color:black;
  font-family:sans-serif;
  font-style:italic;
 
}
#highscore-btn{
  text-decoration: none;
  font-size:2.5vw;
  position:absolute;
  top:31vw;
  right:9vw;
  color:black;
  font-family:sans-serif;
  font-style:italic;
  
  }
#releases-btn{
  text-decoration: none;
  font-size:2.5vw;
  position:absolute;
  top:37vw;
  right:9vw;
  color:black;
  font-family:sans-serif;
  font-style:italic;
 
}
.btn:hover{
  text-decoration: underline;
}

#topics-btn:hover{
  text-decoration: underline;
}
#rules-btn:hover{
  text-decoration: underline;
}
#suggestion-btn:hover{
  text-decoration: underline;
}
#highscore-btn:hover{
  text-decoration: underline;
}
#releases-btn:hover{
  text-decoration: underline;
}
.btn1{
  position:absolute;
  top:6.7vw;
  left:2vw;
  font-size:2.5vw;
  text-decoration:none;
}
#topics-btn1{
  text-decoration:none;
  top: 12.7vw;
  left:2vw;
  font-size:2.5vw;
}
#rules-btn1{
  text-decoration:none;
  top: 18.7vw;
  left:2vw;
  font-size:2.5vw;
}
#suggestion-btn1{
  text-decoration:none;
  top: 24.7vw;
  left:2vw;
  font-size:2.5vw;
}
#highscore-btn1{
  text-decoration:none;
  top: 30.7vw;
  left:2vw;
  font-size:2.5vw;
}
#releases-btn1{
  text-decoration:none;
  top: 36.7vw;
  left:2vw;
  font-size:2.5vw;
}
#semi-circle-div{
  background-color: black;
  width:60%;
  height:80%;
  overflow:hidden;
  position:absolute;
  right:0vw;
  border-radius: 0vw 0vw 0vw 100vw;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
#big-circle-div{
  background-color: rgb(0, 0, 0);
  width:10%;
  height:20%;
  overflow:hidden;
  position:absolute;
  right:50vw;
  top:35vw;
  border-radius: 100vw 100vw 100vw 100vw;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
#small-circle-div{
  background-color: rgb(0, 0, 0);
  width:5%;
  height:10%;
  overflow:hidden;
  position:absolute;
  right:40vw;
  top:42vw;
  border-radius: 100vw 100vw 100vw 100vw;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
#test-your{
  color:#000000;
  font-size:9vw;
  font-family:sans-serif;
  position: absolute;
  left:3.5vw;
  top:10.2vw;
  font-style: italic;
  font-weight:lighter;
}
#self{
  color: #ffffff;
  font-size:9vw;
  font-family:sans-serif;
  position: absolute;
  left:1vw;
  top:5vw;
  font-style: italic;
  font-weight:lighter;
  
}
#desc{
  font-family:sans-serif;
  font-weight:lighter;
  font-style: italic;
  position:absolute;
  left:5vw;
  color:rgb(0, 0, 0);
  top:22.2vw;
  width:60vw;
  font-size:2.1vw;
}
#desc1{
  font-family: sans-serif;
  color:white;
  font-style:italic;
  font-weight:lighter;
  position:absolute;
  top:17.2vw;
  left:4.3vw;
  font-size:2.1vw;
}
#desc2{
  font-family: sans-serif;
  color:white;
  font-style:italic;
  font-weight:lighter;
  position:absolute;
  top:19.6vw;
  left:5.2vw;
  font-size:2.1vw;
}
#desc3{
  font-family: sans-serif;
  color:white;
  font-style:italic;
  font-weight:lighter;
  position:absolute;
  top:22vw;
  left:6.9vw;
  font-size:2.1vw;
}
#desc4{
  font-family: sans-serif;
  color:white;
  font-style:italic;
  font-weight:lighter;
  position:absolute;
  top:25.1vw;
  left:8vw;
  font-size:2.1vw;
}
#mainsample{
 background-color: black;;
  position:absolute;
  top:40vw;
  left:5vw;
  width:18.5vw;
  border-radius:1vw;
  height:4.5vw;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
#sample{
  position: absolute;
  color:white;
  top:1vw;
  text-decoration: none;
  font-size:2vw;
  font-style:italic;
  font-family: sans-serif;
  left:1.5vw;
  font-weight: lighter;
  transition-duration: 1s;
}
#arrow{
  font-family:sans-serif;
  font-style: italic;
  position: absolute;
  left:15.5vw;
  font-weight: lighter;
  top:1.1vw;
  font-size:2vw;
  transition-duration: 1s;
}
#mainsample:hover #arrow{
  left:16.5vw;
}
#mainsample:hover #sample{
  left:1vw;
}
#example{
  background-color:white;
  border-radius:1vw;
  position: absolute;
  top:3vw;
  right:6.5vw;
  height:25vw;
  width:20vw;
  box-shadow: 20px 20px 20px rgba(255, 255, 255, 0.4);
}
#question-example{
  font-size:1.8vw;
  font-family: sans-serif;
  color:#404040;
  position:absolute;
  top:2vw;
  text-align:center;
 padding-left:0.5vw;
 padding-right:0.5vw;
  
  font-weight:lighter;
}

#option-1{
  font-family: sans-serif;
  font-size:1.5vw;
  font-weight:lighter;
  position: absolute;
  top:0.6vw;
  left:1vw;
  color:white;
}
#option-2{
  font-family: sans-serif;
  font-size:1.5vw;
  font-weight:lighter;
  position: absolute;
  top:0.6vw;
  left:1vw;
  color:rgb(255, 255, 255);
}
#option-3{
  font-family: sans-serif;
  font-size:1.5vw;
  font-weight:lighter;
  position: absolute;
  top:0.6vw;
  left:1vw;
  color:rgb(255, 255, 255);
}
#option-4{
  font-family: sans-serif;
  font-size:1.5vw;
  font-weight:lighter;
  position: absolute;
  top:0.6vw;
  left:1vw;
  color:rgb(255, 255, 255);
}
#div-option-1{
  background-color:black;
  border-radius:1vw;
  position: absolute;
  top:8vw;
  left:1vw;
  width:18vw;
  height:3vw;
}
#div-option-2{
  background-color:black;
  border-radius:1vw;
  position: absolute;
  top:11.2vw;
  left:1vw;
  width:18vw;
  height:3vw;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
#div-option-3{
  background-color:black;
  border-radius:1vw;
  position: absolute;
  top:14.4vw;
  left:1vw;
  width:18vw;
  height:3vw;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
#div-option-4{
  background-color:black;
  border-radius:1vw;
  position: absolute;
  top:17.6vw;
  left:1vw;
  width:18vw;
  height:3vw;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
#tick1{
  background-color:#00FF1A;
  width:0.1vw;
  height:0.7vw;
  position:absolute;
  top:1.5vw;
  right:2.5vw;
  transform:rotate(-45deg)
}
#tick2{
  background-color:#00FF1A;
  width:0.1vw;
  height:1.2vw;
  position:absolute;
  top:1.01vw;
  right:1.9vw;
  transform:rotate(45deg)
}
#home-second-part{
  
  position: absolute;
  width:100%;
  background-color: black;
  height:53vw;
  top:100%

}
#explore{
  font-family: sans-serif;
  position: absolute;
  top: 2vw;
  left:42vw;
  font-weight:lighter;
  font-style:italic;
  font-size:3vw;
}
#find-more{
  font-family:sans-serif;
  font-weight:lighter;
  position: absolute;
  bottom: 0.1vw;
  right:1vw;
  font-size:2vw;
  font-style: italic;
}
#fruit-quiz{
  background-color:rgb(255, 255, 255);
  position:absolute;
  top:13vw;
  height:30vw;
  width:20vw;
  left:27.5vw;
  border-radius:2vw;
  border: 10px solid rgb(53, 53, 53);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
}
#christmas-quiz{
  background-color:white;
  position:absolute;
  top:13vw;
  height:30vw;
  width:20vw;
  left:5.5vw;
  border-radius:2vw;
  border: 10px solid rgb(53, 53, 53);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
}
#football-quiz{
  background-color:white;
  position:absolute;
  top:13vw;
  height:30vw;
  width:20vw;
  left:49.5vw;
  border-radius:2vw;
  border: 10px solid rgb(53, 53, 53);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
}
#roblox-quiz{
  background-color:white;
  position:absolute;
  top:13vw;
  height:30vw;
  width:20vw;
  left:71.5vw;
  border-radius:2vw;
  border: 10px solid rgb(53, 53, 53);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
}
#fruit-png{
  top:5vw;
  left:6.6vw;
  position: absolute;
  border-radius:1vw;
  width:6vw;
}
#christmas-png{
  top:5vw;
  left:6.6vw;
  position: absolute;
  border-radius:1vw;
  width:6vw;
}
#football-png{
  top:6vw;
  left:7.6vw;
  position: absolute;
    width:4vw;
}
#roblox-png{
  top:5vw;
  left:6.6vw;
  position: absolute;
  border-radius:1vw;
  width:6vw;
}
#fruit-txt{
  color:black;
  font-family:sans-serif;
  font-style:italic;
  font-weight:lighter;
  position: absolute;
  top:14vw;
  left:3.9vw;
  font-size:2.5vw;
  text-shadow: 0 0 10px #a0a0a0, 0 0 20px #a0a0a0, 0 0 30px #a0a0a0;
}
#christmas-txt{
  color:black;
  font-family:sans-serif;
  font-style:italic;
  font-weight:lighter;
  position: absolute;
  top:14vw;
  left:0.7vw;
  font-size:2.5vw;
  text-shadow: 0 0 10px #a0a0a0, 0 0 20px #a0a0a0, 0 0 30px #a0a0a0;
}
#football-txt{
  color:black;
  font-family:sans-serif;
  font-style:italic;
  font-weight:lighter;
  position: absolute;
  top:14vw;
  left:2.1vw;
  font-size:2.5vw;
  text-shadow: 0 0 10px #a0a0a0, 0 0 20px #a0a0a0, 0 0 30px #a0a0a0;
}
#roblox-txt{
  color:black;
  font-family:sans-serif;
  font-style:italic;
  font-weight:lighter;
  position: absolute;
  top:14vw;
  left:2.6vw;
  font-size:2.5vw;
  text-shadow: 0 0 10px #a0a0a0, 0 0 20px #a0a0a0, 0 0 30px #a0a0a0;
}
#playbutton-1{
  background-color:#000000;
  position:absolute;
  height:3vw;
  width:13vw;
  border-radius:1vw;
  bottom:5vw;
  left:3vw;
}
#playbutton-2{
  background-color:#000000;
  position:absolute;
  height:3vw;
  width:13vw;
  border-radius:1vw;
  bottom:5vw;
  left:3vw;
}
#playbutton-3{
  background-color:#000000;
  position:absolute;
  height:3vw;
  width:13vw;
  border-radius:1vw;
  bottom:5vw;
  left:3vw;
}
#playbutton-4{
  background-color:#000000;
  position:absolute;
  height:3vw;
  width:13vw;
  border-radius:1vw;
  bottom:5vw;
  left:3vw;
}
#play-now-1{
  font-size:1.5vw;
  position: absolute;
  color:rgb(255, 255, 255);
  font-style:italic;
  font-family:sans-serif;
  font-weight:lighter;
  top:0.7vw;
  left:1vw;
  transition-duration: 1s;
}
#play-now-2{
  font-size:1.5vw;
  position: absolute;
  color:rgb(255, 255, 255);
  font-style:italic;
  font-family:sans-serif;
  font-weight:lighter;
  top:0.7vw;
  left:1vw;
  transition-duration: 1s;
}
#play-now-3{
  font-size:1.5vw;
  position: absolute;
  color:rgb(255, 255, 255);
  font-style:italic;
  font-family:sans-serif;
  font-weight:lighter;
  top:0.7vw;
  left:1vw;
  transition-duration: 1s;
}
#play-now-4{
  font-size:1.5vw;
  position: absolute;
  color:rgb(255, 255, 255);
  font-style:italic;
  font-family:sans-serif;
  font-weight:lighter;
  top:0.7vw;
  left:1vw;
  transition-duration: 1s;
}
#arrow-1{
  position:absolute;
  font-size:2vw;
  font-family:sans-serif;
  top:0.5vw;
  right:1vw;
  font-weight:lighter;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
  transition-duration: 1s;
}
#arrow-2{
  position:absolute;
  font-size:2vw;
  font-family:sans-serif;
  top:0.5vw;
  right:1vw;
  font-weight:lighter;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
  transition-duration: 1s;
}
#arrow-3{
  position:absolute;
  font-size:2vw;
  font-family:sans-serif;
  top:0.5vw;
  right:1vw;
  font-weight:lighter;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
  transition-duration: 1s;
}
#arrow-4{
  position:absolute;
  font-size:2vw;
  font-family:sans-serif;
  top:0.5vw;
  right:1vw;
  font-weight:lighter;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
  transition-duration: 1s;
}
#playbutton-1:hover #play-now-1{
  left:0.5vw;
}
#playbutton-2:hover #play-now-2{
  left:0.5vw;
}
#playbutton-3:hover #play-now-3{
  left:0.5vw;
}
#playbutton-4:hover #play-now-4{
  left:0.5vw;
}
#playbutton-1:hover #arrow-1{
  right:0.5vw;
}
#playbutton-2:hover #arrow-2{
  right:0.5vw;
}
#playbutton-3:hover #arrow-3{
  right:0.5vw;
}
#playbutton-4:hover #arrow-4{
  right:0.5vw;
}
#home-third-part{
  position: absolute;
  top:200%;
  width:100%;
  height:26.5vw;
}
#home-third-part-first-curved{
  width:60%;
  height:100%;
  position: absolute;
  background-color:black;
  border-radius: 0vw 100vw 100vw 0vw;
}
#earn-points{
  position:absolute;
  top:5vw;
  left:17vw;
  font-size:4vw;;
}
#earn-points-desc{
  position: absolute;
  top:11vw;
  left:7vw;
  color:rgba(226, 226, 226, 0.37);
  font-size:2vw;
  font-weight:100;
  text-align:center;
  font-style: italic;
  width:40vw;
}
#home-third-part-second-curved{
  width:60%;
  height:100%;
  position: absolute;
  background-color:black;
  border-radius: 100vw 0vw 0vw 100vw;
  top:100%;
  right:0vw;
}
#get-ranked{
  position:absolute;
  top:3vw;
  right:16vw;
  font-size:4vw;;
}
#get-ranked-desc{
  position: absolute;
  top:9vw;
  right:7vw;
  color:rgba(226, 226, 226, 0.37);
  font-size:2vw;
  font-weight:100;
  text-align:center;
  font-style: italic;
  width:40vw;
}
#nine-hun{
  position:absolute;
  right:20vw;
  font-size:3.5vw;
  color:black;
  top:5vw;
  font-style: italic;
  font-weight:bold;
}
#one-hun{
  position:absolute;
  right:20vw;
  font-size:3.5vw;
  color:black;
  top:12vw;
 font-style: italic;
 font-weight:bold;
}
#five-hun{
  position:absolute;
  right:20vw;
  font-size:3.5vw;
  color:black;
  bottom:2vw;
  font-style: italic;
  font-weight:bold;
}
#home-third-part-first-arrow-first{
  position:absolute;
  width:0.4vw;
  height:2vw; 
  transform:rotate(45deg);
  background-color:#00FF1A;
  top:5vw;
  right:15vw;
  box-shadow: 0 4px 8px 0 rgb(43, 255, 0), 0 6px 20px 0 rgba(43, 255, 0);
}
#home-third-part-first-arrow-second{
  position:absolute;
  width:0.4vw;
  height:2vw; 
  transform:rotate(-45deg);
  background-color:#00FF1A;
  top:5vw;
  right:13.8vw;
  box-shadow: 0 4px 8px 0 rgb(43, 255, 0), 0 6px 20px 0 rgba(43, 255, 0);
}
#home-third-part-first-arrow-third{
  position:absolute;
  width:0.4vw;
  height:3vw; 
  transform:rotate(180deg);
  background-color:#00FF1A;
  top:5.5vw;
  right:14.36vw;
  box-shadow: 0 4px 8px 0 rgb(43, 255, 0), 0 6px 20px 0 rgba(43, 255, 0);
}
#home-third-part-second-arrow-first{
  position:absolute;
  width:0.4vw;
  height:2vw; 
  transform:rotate(-45deg);
  background-color:#FF1616;
  top:13vw;
  right:15vw;
  box-shadow: 0 0px 8px 0 rgb(255, 0, 0), 0 6px 20px 0 rgb(255, 0, 0);
}
#home-third-part-second-arrow-second{
  position:absolute;
  width:0.4vw;
  height:2vw; 
  transform:rotate(45deg);
  background-color:#FF1616;
  top:13vw;
  right:13.8vw;
  box-shadow: 0 0px 8px 0 rgb(255, 0, 0), 0 6px 20px 0 rgb(255, 0, 0);
}
#home-third-part-second-arrow-third{
  position:absolute;
  width:0.4vw;
  height:3vw; 
  transform:rotate(180deg);
  background-color:#FF1616;
  top:11.5vw;
  right:14.36vw;
  box-shadow: 0 5px 8px 0 rgb(255, 0, 0), 0 6px 20px 0 rgb(255, 0, 0);
}
#home-third-part-third-arrow-first{
  position:absolute;
  width:0.4vw;
  height:2vw; 
  transform:rotate(45deg);
  background-color:#00FF1A;
  top:18.8vw;
  right:15vw;
  box-shadow: 0 4px 8px 0 rgb(43, 255, 0), 0 6px 20px 0 rgba(43, 255, 0);
}
#home-third-part-third-arrow-second{
  position:absolute;
  width:0.4vw;
  height:2vw; 
  transform:rotate(-45deg);
  background-color:#00FF1A;
  top:18.8vw;
  right:13.8vw;
  box-shadow: 0 4px 8px 0 rgb(43, 255, 0), 0 6px 20px 0 rgba(43, 255, 0);
}
#home-third-part-third-arrow-third{
  position:absolute;
  width:0.4vw;
  height:3vw; 
  transform:rotate(180deg);
  background-color:#00FF1A;
  top:19.3vw;
  right:14.36vw;
  box-shadow: 0 10px 8px 0 rgb(43, 255, 0), 0 6px 20px 0 rgba(43, 255, 0);
}
#king-png{
  position: absolute;
  top:29vw;
  left:17vw;
  width:5vw;
}
#home-third-part-second-button{
  background-color: white;
  position:absolute;
  width:23vw;
  height:5vw;
  font-size:10vw;
  top:18vw;
  left:21vw;
  border-radius:1vw;

}
#leaderboard-button{
  color:rgb(0, 0, 0);
  position: absolute;
  top:1.5vw;
  left:2.5vw;
  font-size:2vw;
  font-style:italic;
  text-shadow: 0 0 10px #a0a0a0, 0 0 20px #a0a0a0, 0 0 30px #a0a0a0;
  transition-duration:1s;
}
#leaderboard-arrow{
  color:rgb(0, 0, 0);
  position: absolute;
  top:1.5vw;
  right:3vw;
  font-size:2vw;
  text-shadow: 0 0 10px #a0a0a0, 0 0 20px #a0a0a0, 0 0 30px #a0a0a0;
  transition-duration:1s;
}
#home-third-part-second-button:hover #leaderboard-button{
  left:2vw;
}
#home-third-part-second-button:hover #leaderboard-arrow{
  right:2.5vw;
}
#leaderboard-sample-main{
  background-color:white;
  border: 3px solid rgb(0, 0, 0);
  position: absolute;
  left:6.5vw;
  top: 35vw;
  width:26vw;
  height:4vw;
  border-radius:1vw;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
#leaderboard-sample-1{
  color:black;
  font-size:1.4vw;
  position:absolute;
  left:1vw;
  top:1vw;
  font-weight:lighter;
}
#neev-j{
  font-size:1.4vw;
  color:black;
  position:absolute;
  left:3vw;
  top:1vw;
  font-style:italic;
  font-weight:lighter;
}
#king-png-small{
  position: absolute;
  left:8vw;
  top:0.6vw;
  width:2.4vw;
}
#five-thou-one-hun{
  color:black;
  font-style:italic;
  font-weight:lighter;
  position: absolute;
  right:1vw;
  top:0.7vw;
  font-size:2vw;
}
#leaderboard-sample-main-2{
  background-color:black;
  position: absolute;
  left:8vw;
  top: 39.1vw;
  width:23vw;
  height:4vw;
  border-radius:1vw;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
#leaderboard-sample-2{
  color:rgb(255, 255, 255);
  font-size:1.4vw;
  position:absolute;
  left:1vw;
  top:1.2vw;
  font-weight:lighter;  
}
#oscar-w{
  font-size:1.4vw;
  color:rgb(255, 255, 255);
  position:absolute;
  left:3vw;
  top:1.2vw;
  font-style:italic;
  font-weight:lighter;
}
#five-thou{
  color:rgb(255, 255, 255);
  font-style:italic;
  font-weight:lighter;
  position: absolute;
  right:1vw;
  top:0.9vw;
  font-size:2vw;
  
}
#leaderboard-sample-main-3{
  background-color:black;
  position: absolute;
  left:9.5vw;
  top: 43.2vw;
  width:20vw;
  height:4vw;
  border-radius:1vw;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
#leaderboard-sample-3{
  color:rgb(255, 255, 255);
  font-size:1.4vw;
  position:absolute;
  left:1vw;
  top:1.2vw;
  font-weight:lighter;  
}
#martin-s{
  font-size:1.4vw;
  color:rgb(255, 255, 255);
  position:absolute;
  left:3vw;
  top:1.2vw;
  font-style:italic;
  font-weight:lighter;
}
#four-thou-nine{
  color:rgb(255, 255, 255);
  font-style:italic;
  font-weight:lighter;
  position: absolute;
  right:1vw;
  top:0.9vw;
  font-size:2vw;
  
}
