#house{
  color:rgb(255, 255, 255);
  font-size: 2vw;
  position: absolute;
  top:2vw;
  left:0.9vw;
  z-index: 3;
}
#back-home{
  position: absolute;
  top:1.49vw;
  left:1vw;
  width:3vw;
  height:3vw;
  background-color: rgb(43, 43, 43);
  border-radius: 0.3vw;;
}
#top-banner-topics{
  width:100%;
  position: absolute;
  top:0vw;
  height:6vw;
  background-color: black;
}
#quiz-topics{
  color:white;
  position: absolute;
  top:0.7vw;
  font-size:4vw;
  left:39vw;
  font-style: italic;
  z-index: 2;
  font-weight: lighter;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px rgb(255, 255, 255);
 
}


#topics-browsers{
  position: absolute;
  top:8vw;
  left:8.8vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-christmas{
  position: absolute;
  top:8vw;
  left:22.5vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-computerParts{
  position: absolute;
  top:8vw;
  left:36.2vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-countries{
  position: absolute;
  top:8vw;
  left:49.9vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-disney{
  position: absolute;
  top:8vw;
  left:63.6vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-easter{
  position: absolute;
  top:8vw;
  left:77.3vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-football{
  position: absolute;
  top:21.7vw;
  left:8.8vw; 
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-fruit{
  position: absolute;
  top:21.7vw;
  left:22.5vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-gk{
  position: absolute;
  top:21.7vw;
  left:36.2vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-ja{
  position: absolute;
  top:21.7vw;
  left:49.9vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-kq{
  position: absolute;
  top:21.7vw;
  left:63.6vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-mc{
  position: absolute;
  top:21.7vw;
  left:77.3vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-presidents{
  position: absolute;
  top:35.4vw;
  left:8.8vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-pl{
  position: absolute;
  top:35.4vw;
  left:22.5vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-roblox{
  position: absolute;
  top:35.4vw;
  left:36.2vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-tech{
  position: absolute;
  top:35.4vw;
  left:49.9vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-o1o{
  position: absolute;
  top:35.4vw;
  left:63.6vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
}
#topics-youtube{
  position: absolute;
  top:35.4vw;
  left:77.3vw;
  width:13.5vw;
  height:13.5vw;
  background-color: black;
  border-radius: 1vw;;
  
}
img{
  width: 90%;
  height:7.5vw;
  position: absolute;
  top:0.5vw;
  left:0.7vw;
  border-radius:1vw;
}
#kendall-img{
  width:60%;
  height:7.5vw;
  position: absolute;
  top:0.5vw;
  left:2.6vw;
  border-radius:1vw;
}
#topics-text{
  font-size:1.1vw;
  margin-top:8.5vw;
  font-weight: 700;
}
#topics-button{
  position: absolute;
  bottom:2vw;
  background-color:rgb(43, 43, 43) ;
  width:80%;
  height:2.6vw;
  border-radius: 0.8vw;
  bottom:0.5vw;
  left:1.4vw; 
  cursor: pointer;
}
.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 0.2vw 0.2vw 0;
  display: inline-block;
  padding: 0.4vw;
  position: absolute;
  top:0.8vw;
  right:4.8vw;
  transition-duration: 500ms;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#topics-pointer{
  position: absolute;
  width:1.5vw;
  height:0.15vw;
  background-color: white;
  top:1.2vw;
  left:4.5vw;
  transition-duration: 500ms;
}
#topics-button:hover .arrow{
  right:4.6vw;
}
#topics-button:hover #topics-pointer{
  left:4.7vw;
}
